/**
 * @package  Styling for Beautiful Web Type Combinations 10 Branson
 * @author   Frank Bültge <frank@bueltge.de>
 * @since    04/03/2013
 * @version  0.0.1
 *
 * @description Fonts Lobster and Arimo, quote by Richard Branson ---- English business magnate
 */
 
.sample#branson {
	background: #9f1224;
	color: #FEB96E;
	margin: 0 auto;
	width: 100%;
	padding: 250px 0;
	text-align: justify;
}
	.sample#branson section {
		max-width: 800px;
		margin: 0 auto;
	}
	.sample#branson h1, .sample#branson h2 {
		font: 400 95px/1.2 'Lobster', Georgia, serif;
	}
		.sample#branson h2 {
			font-size: 20px;
			margin-left: 110px;
		}
	.sample#branson p {
		font: 400 17px/1.6 'Arimo', Verdana, Helvetica, sans-serif;
		margin-left: 270px;
	}
	.sample#branson blockquote {
		margin: 80px 0 0 0;
	}
	